@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* === Custom Utilities === */
  @layer components {
    .floating-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
    }
  }

  @layer utilities {
    @media (max-height: 650px) {
      .short-height-start {
        @apply items-start pt-5;
      }
    }
  }
}
